/* style.css */
body {
  background-color: beige;
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.btn-primary {
  background-color: crimson;
  border-color: crimson;
}
